html, body, div, h1, p {
    margin: 0px;
    padding: 0px;
    border: 0px;
}
#title {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(113, 113, 199);
}
h1 {
    color: black;
    font-size: 55px;
}
a {
    padding-right: 15px;
    font-size: medium;
    text-decoration: none;
}
#nav {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(113, 113, 199);
}